<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="ClearType" content="true">
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <title>Document Viewer (Dev)</title>

  <%= include_stylesheets :viewer, :media => 'all' %>
  <%= include_javascripts :viewer, :templates %>


  <style>
    body { margin: 0; }
  </style>

</head>
<body>

<div id="document-viewer"></div>

<script type="text/javascript">
  window.currentDocument = DV.load(
{"id":"417646-cl-c150-152","title":"CL C150 152","pages":3,"description":null,"source":null,"created_at":"Thu, 17 Jan 2013 17:35:44 +0000","updated_at":"Tue, 29 Jan 2013 19:16:23 +0000",
"canonical_url":"http://dev.dcloud.org/documents/417646-cl-c150-152.html",
"contributor":"Testing Account","contributor_organization":"DocumentCloud",
"resources":{"pdf":"http://dev.dcloud.org/asset_store/documents/417646/cl-c150-152.pdf",
"text":"http://dev.dcloud.org/asset_store/documents/417646/cl-c150-152.txt",
"thumbnail":"http://dev.dcloud.org/asset_store/documents/417646/pages/cl-c150-152-p1-thumbnail.gif",
"search":"http://dev.dcloud.org/documents/417646/search.json?q={query}",
"print_annotations":"http://dev.dcloud.org/notes/print?docs[]=417646",
"page":{"text":"http://dev.dcloud.org/documents/417646/pages/cl-c150-152-p{page}.txt",
"image":"http://dev.dcloud.org/asset_store/documents/417646/pages/cl-c150-152-p{page}-{size}.gif"}
}
,"sections":[],"annotations":[{"location":{"image":"100,589,147,505"},"content":"red","page":1,"id":57,"access":"public","title":"One"},{"location":{"image":"342,606,441,211"},"content":"should be editable","page":1,"id":70,"access":"public","title":"Nathan Note"},{"location":{"image":"111,568,126,442"},"content":"Foo Bar","page":2,"id":64,"access":"public","title":"Untitled Note"}]} );
</script>

</body>
</html>
